name: Create release

# When a tag is pushed, create a release
on:
  push:
    tags:
      - "*" # Push events to matching v*, i.e. v1.0, v20.15.10

jobs:
  build:
    name: Create Release and docs
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@master
        with:
          fetch-depth: 0 # Fetch all tags

      - name: Create Release for Tag
        id: release_tag
        uses: Akryum/release-tag@conventional
        env:
          GITHUB_TOKEN: ${{ secrets.GIT_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: v${{ github.ref }}
          preset: angular # Use conventional-changelog preset

